@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "josefin-sans";
    src: url("css/fonts/JosefinSans-Light.woff2") format("woff2"),
      url("css/fonts/JosefinSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("css/fonts/JosefinSans-Bold.woff2") format("woff2"),
      url("css/fonts/JosefinSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("css/fonts/JosefinSans-Regular.woff2") format("woff2"),
      url("css/fonts/JosefinSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("css/fonts/JosefinSans-SemiBold.woff2") format("woff2"),
      url("css/fonts/JosefinSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "josefin-sans";
    src: url("css/fonts/JosefinSans-Medium.woff2") format("woff2"),
      url("css/fonts/JosefinSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "maven-pro";
    src: url("css/fonts/MavenPro-SemiBold.woff2") format("woff2"),
      url("css/fonts/MavenPro-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "maven-pro";
    src: url("css/fonts/MavenPro-Regular.woff2") format("woff2"),
      url("css/fonts/MavenPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "maven-pro";
    src: url("css/fonts/MavenPro-Bold.woff2") format("woff2"),
      url("css/fonts/MavenPro-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "maven-pro";
    src: url("css/fonts/MavenPro-Medium.woff2") format("woff2"),
      url("css/fonts/MavenPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-red-darker;
  }

  nav {
    @apply text-2xl desktop:text-3xl font-ui font-medium;
  }

  h1 {
    @apply text-3xl tablet-small:text-4xl tablet:text-5xl laptop:text-6xl desktop:text-7xl font-ui font-semibold;
  }

  h2 {
    @apply text-2xl tablet-small:text-3xl tablet:text-4xl laptop:text-5xl desktop:text-6xl font-ui font-semibold;
  }

  h3 {
    @apply text-2xl tablet:text-3xl laptop:text-4xl desktop:text-5xl font-ui;
  }

  h4 {
    @apply text-4xl font-text font-bold;
  }

  p {
    @apply text-lg tablet:text-xl laptop:text-2xl desktop:text-3xl font-text font-light;
  }

  footer {
    @apply text-xl tablet:text-2xl desktop:text-3xl font-text;
  }

  button {
    @apply font-ui font-semibold;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
